/**
 * Dashboard Stylesheet
 */

@import url('//fonts.googleapis.com/css?family=Rambla:400,400i,700,700i|Montserrat:400,700|Roboto+Condensed:300,400,400i,700,700i|Fira+Mono:400,700')

/** Import required files */
@import 'settings/index'
@import 'dashboard/settings'
@import 'mixins/grid'
@import 'mixins/utilities'
@import 'mixins/interactions'
@import 'mixins/fonts'
@import 'mixins/typography'
@import 'mixins/sizes'
@import 'mixins/screens'
@import 'mixins/borders'
@import 'mixins/radius'
@import 'mixins/tables'

input()
  rounded()
  transition()
  borders $grey_lighter
  height $input_height_sm
  outline 0
  background-color $white
  box-shadow none
  color $grey
  line-height 1.5rem

  &::placeholder
    opacity .35

  &:hover
  &:focus
  &:active
    borders $grey_light
    outline 0
    color $grey_dark

btn()
  border_box()
  rounded()
  outline 0
  box-shadow none

  for argument in arguments
    if argument is primary
      borders $color_primary
      background-color $color_primary
      color $white

      &:hover
      &:focus
      &:active
        borders $color_primary_light
        background-color $color_primary_light
        color $white
    if argument is regular
      borders $grey_lighter
      background-color transparent
      color $grey

      &:hover
      &:focus
      &:active
        borders $grey_lighter
        background-color $grey_lighter
        color $grey_dark

    if argument is small
      height $btn_height_sm

    if argument is large
      height $btn_height_lg

  &:hover
  &:focus
  &:active
    outline 0
    box-shadow none

.sms
  hr
    margin 0

  h1
    padding 0 0 $space_sm
    font-size $font_size_xxlg

  h3
    margin 0 auto $space_sm 0

  input[type='text']
  textarea
  select
    input()
    margin 0
    margin-bottom $space_xsm
    padding 0 $space_xsm
    width 100%

    &:last-of-type
      margin-bottom 0

  select
    padding 0

  button
    btn regular
    rounded()
    uppercase()
    transition()
    margin-right $space_xsm
    padding 0 $space_sm
    height 1.5rem
    vertical-align middle
    line-height 1rem
    cursor pointer

  [class$='-save']
  [class$='-add']
    btn primary

  [id$='-save']
  [id$='-delete']
  [id$='-add']
    btn small
    margin-right $space_xsm

  [id$='-save']
  [id$='-add']
    btn primary small

  .btn-group
    grid()

  .accordion
    &-section
      border 0

      &:last-child
        .accordion-content
          display block

    &-header
      transition()
      margin-top $space_sm
      color $color_secondary
      cursor pointer

      &:hover
      &:focus
        color $color_primary

      &:before
        content '+ '

      &.active
        &:before
          content '- '

    &-content
      display none
      margin-bottom $space_sm
      border 0

      table
        margin-bottom $space_sm
        border-collapse collapse

      td
        padding $space_xsm $space_sm $space_xsm 0

      input[type='text']
        border 0
        borders bottom $color_secondary_lightest
        rounded 0
        margin-bottom 0
        background-color transparent

        &:hover
          border 0
          borders bottom $color_secondary_lighter

        &:focus
        &:active
          border 0
          borders bottom $color_secondary_light

      select
        margin 0

  &.settings
    section
      margin $space_sm 0

  .settings
    &-logo
      img
        border_box()
        borders $grey_lighter
        size max 300px
        padding $space_xsm
        background-color $grey_lightest

      .image-upload
        btn primary

      .image-remove
        btn()

      [id$='-save']
        btn primary

    &-colors
    &-users
      li
        grid row middle
        padding $space_xsm 0

      span
        bold()
        flex 1
        max-width 8rem

      label
        small()
        uppercase()
        margin-right $space_xsm

      select
        flex 2
        margin-right $space_sm
        margin-bottom 0

    &-colors
      .wp-color-result
        border_box()
        borders $grey_lighter
        margin 0 $space_xsm 0 0
        height $btn_height_xsm
        box-shadow none

        &:after
          height $btn_height_xsm - ($border_width * 2)
          border 0

      .wp-picker-container
        input[type='text']
          &.wp-color-picker
            align center
            borders $grey_lighter
            margin-bottom $space_xsm
            width 4rem
            font-size $font_size_sm
            line-height $input_height_xsm

      .button
        size 4rem $btn_height_xsm
        margin 0
        padding 0
        box-shadow none
        font-size $font_size_xsm
        line-height $input_height_xsm

#languages
#methods
#countries
#categories
#scripts
  &-dropdown
    margin-bottom $space_sm

#script
#faq
  label
    bold()
    uppercase()
    display block
    margin $space_sm 0 $space_xsm
    color $color_primary

  input[type='text']
    input()

  textarea
    borders transparent

  .wp-editor-tabs
    button
      margin-left $space_xsm

  .wp-editor-tools
    margin-bottom $space_xsm

  .wp-editor-container
    borders $grey_lighter
    box-shadow none

  div.mce-toolbar-grp
    borders bottom $grey_lighter

    > div
      padding 0

  #wp-script-text-wrap
  #wp-faq-text-wrap
    margin-bottom $space_sm

  .mce-toolbar
    .mce-btn-group
      .mce-btn
        &.mce-listbox
        &.mce-active
          background-color transparent
          box-shadow none

        &.mce-listbox
          borders $grey_lighter

          &.mce-fixed-width
            borders transparent

        &.mce-active
          borders transparent

        &:hover
          borders transparent
          box-shadow none

.tmce-active .switch-tmce
.html-active .switch-html
  border-color $color_primary !important
  background-color $color_primary !important
  color $white !important

  &:hover
  &:active
  &:focus
    border-color $color_primary_light !important
    background-color $color_primary_light !important

#script
  form
    display none

  textarea
    height 5rem

  .btn-group
    margin-bottom $space_xsm

  &-add
    display none

#faq
  margin $space_sm 0

#message
  bold()
  fixed()
  rounded()
  align center

  right 0
  bottom 0
  left 0
  z-index 9999999
  display none
  padding $space_sm
  width 100%
  background-color rgba($color_warning, 50%)
  color $black
  opacity 1
