/**
 * Dashboard Screen Login
 */

/** Import required files */
@import 'settings/index'
@import 'mixins/index'


/** Override the styles */
:root
  font-size 16px

.login
  grid column
  background-color $bg_color
  font-size $font_size

#login
  margin auto
  padding 0
  min-width $body_width_min

  #loginform
    p
      margin-bottom $space_sm

      &.forgetmenot
        margin-bottom 0

        label
          line-height $btn_height

      &.submit
        margin-bottom 0

        input#wp-submit
          btn primary

.login
  h1
    size $logo_width $logo_height
    margin 0 auto $space

    a
      block()
      size 100%
      // background-image url($img_path +'/logo.svg')
      background-size 100%

  form
    margin 0 auto $space
    padding 0
    background-color transparent
    box-shadow none

    input[type='text']
    input[type='password']
      input()
      margin $space_xsm 0 0

    input[type='checkbox']
      size 1em
      margin-top -4px
      margin-right $space_xsm
      background-color darken($input_bg_color, 2)
      line-height $line_height_reset

      &:focus
      &:active
        border 0
        box-shadow none

  label
    block()
    smaller()
    uppercase()
    color $font_color

    input
      group()

  #login_error
  .message
    alert error
    border 0

  .message
    alert warning
    border 0

  .button-primary
    btn primary

  #nav
  #backtoblog
    align right
    padding 0

    a
      link $white

  #nav
    margin-top 0

  #backtoblog
    margin $space_xsm 0 0 auto

.wp-core-ui
  .button
    &.button-large
      padding 0
      height auto
      line-height 4

input[type='checkbox']
  &:checked
    &:before
      size 100%
      margin 0 0 0 -1px
      color $color_primary
      font-size 1em

.jetpack-sso-form-display #loginform
  margin-bottom $space_lg
  padding 0

.jetpack-sso-or span
  background-color transparent
  color $font_color

.jetpack-sso-or:before
  background-color transparent

a:active
a:hover
  color $link_color
