/**
 * Alert Boxes
 */
alert(type = info)
  if type is info
    $bg    = $color_info
    $color = $grey_lighter

  if type is success
    $bg    = $color_success
    $color = $grey_lighter

  if type is warning
    $bg    = $color_warning
    $color = $grey_darker

  if type is error
    $bg    = $color_error
    $color = $grey_lighter

  group()
  relative()
  rounded()
  margin-bottom $space_lg
  padding $space_xsm $space
  background-color $bg
  color $color

  a
    link @color

/** Helper Classes */
.alert
  &-info
    alert info

  &-success
    alert success

  &-warning
    alert warning

  &-error
    alert error
