/**
 * Elements
 */

/** Arrows */
arrow($direccion = up, $size = 1rem, $color = $font_color)
  if $direction is up
    borders left right $size transparent bottom $size $color

  else if $direction is down
    borders left right $size transparent top $size $color

  else if $direction is left
    borders top bottom $size transparent right $size $color

  else if $direction is right
    borders top bottom $size transparent left $size $color
