/**
 * Fonts
 */
_font_url($file)
  return $font_path + $file

font($family, $file, $weight = 400, $style = normal)
  @font-face
    font-weight $weight
    font-style $style
    font-family $family
    src url(_font_url($file + '.eot'))
    src url(_font_url($file + '.eot?#iefix')) format('embedded-opentype'), url(_font_url($file + '.svg#' + replace(' ', '+', $family))) format('svg'), url(_font_url($file + '.woff')) format('woff'), url(_font_url($file + '.ttf')) format('truetype')

fluid_type($font_min = $font_size_min, $font_max = $font_size_max, $body_min = $body_width_min, $body_max = $body_width_max)
  $font_difference = remove-unit($font_max - $font_min)
  $body_difference = remove-unit($body_max - $body_min)

  font-size 'calc(%s + %s * ((100vw - %s) / %s))' % ($font_min $font_difference $body_min $body_difference)

  +below($body_width_min)
    font-size $font_min

  +above($body_width_max)
    font-size $font_max
