/** Input Fields */
input($height = $input_height)
  border_box()
  disabled()
  rounded()
  regular()
  transition()
  fluid_type $font_size_min $font_size_max
  shadow none
  size 100% $height

  margin 0
  padding 0 $space_sm
  background-color $input_bg_color
  color $font_color
  font-family $font_primary

  line-height $height - ($space_xsm * 2) - ($border_width * 2)

  if $input_border_width is 0
    border 0
  else
    borders $input_border_width $input_border_color

  &:focus
  &:active
    outline 0
    background-color darken(@background-color, 5)
    box-shadow none
    color @color

    if $input_border_width is 0
      border 0
    else
      borders $input_border_width $input_border_color

  placeholder()
