/** Element Display */
block()
  display block

inline_block()
  display inline-block

inline()
  display inline


/** Hide Elements */
hide()
  display none

hide_text()
  overflow hidden
  text-indent 100%
  white-space nowrap


/** Box Sizing */
border_box()
  box-sizing border-box

content_box()
  box-sizing content-box

multiline_padding()
  box-decoration-break clone


/** Align Elements */
align()
  if arguments is middle
    position relative
    top 50%
    transform translateY(-50%)

  else
    text-align arguments


/** Clearfix */
group()
  &:before
  &:after
    block()
    clear both
    content ''

clear()
  group()


/** Placeholder */
placeholder()
  &::placeholder
    if @background-color
      $bg = @background-color
    else
      $bg = $bg_color

    color blend(rgba(@color, .625), $bg)


/** Disabled */
disabled()
  &[disabled]
    cursor not-allowed

    if @background-color
      $bg = @background-color
    else
      $bg = $bg_color

    color blend(rgba(@color, .5), $bg)


/** No Select */
no_select()
  user-select none
  -webkit-touch-callout none
