/**
 * Single posts
 */
.entry
  &-header
    borders top bottom
    padding $space_lg 0
    line-height $line_height_sm

    .home &
      margin-bottom $space_sm
      padding $space_sm 0

      h1
        heading-section()
        font-size $heading_size_h4

    .page &
      margin-bottom $space

    h1
      margin 0

  &-meta
    small()
    uppercase()
    margin-top $space_sm
    color $font_color_dark

    a
      bold()
      link $font_color_light

  &-time
    bold()

  &-time
  &-categories
  &-author
    display block
    margin-top $space_xsm

    +above($break_summary)
      display inline
      margin-top 0

  &-content
    margin 0 0 $space_lg

    figure
      margin-bottom $space
      width auto

      img
        width 100%
        height auto

  &-thumbnail
    margin $space 0

    img
      size 100% auto

  &-footer
    margin $space_lg 0

  &-tags
    group()
    lowercase()
    grid wrap
    margin-top $space_xsm * -1
    font-size $font_size_sm

    a
      borders()
      link $font_color_darkest
      margin $space_xsm $space_xsm 0 0
      padding $space_xsm
      line-height $line_height

      &:hover
        borders $border_color-hover

      &::before
        content '#'
  &-ad
    overflow hidden
    margin 0 auto $space
    max-width $body_width - ($space * 2)
    max-height 19rem
    width auto

.separator
  display none

  +above($break_summary)
    display inline

  &:after
    content ' | '
