/**
 * Main Footer
 */

.footer
  &-main
    group()
    padding $space 0
    font-size $font_size_sm

    ul
      align center
      grid row center
      margin 0 auto

      +above($break_footer)
        align left
        grid row left
        margin-left 0

    li
      &:first-child
        margin-left 0

      &:last-child
        margin-right 0
    {$container_class}
      grid column

    .social-links
      margin-bottom 0

    .button
      btn flat small
      margin $space_sm auto
      width 12rem

/*
      +above($break_footer)
        margin-left 0
  &-links
    grid column
    line-height $icon_size

    +above($break_footer)
      grid row justify
      height $icon_size

  &-menu
    margin-bottom $space

    +above($break_footer)
      margin-bottom 0

    ul
      bold()
      uppercase()
      width 100%
      font-size $font_size_sm

    li
      margin-bottom $space_sm
      margin-bottom 0
      padding $space_sm 0

      &:first-child
        padding-left 0

      &:last-child
        padding-right 0

    a
      link $font_color_dark
      display block

    ~ .copyright
      margin-top 0

.copyright
  align center
  grid column
  color $font_color_dark
  font-size $font_size_xsm

  +above($break_footer)
    grid row justify

  .legal
    p
      margin 0 auto $space_sm
      line-height $icon_size

      +above($break_footer)
        align left
        margin-bottom 0

  .signature
    color $font_color_dark
    line-height $icon_size

    svg
      transition()
      size 120px 20px
      fill @color

    a
      display block

    &:hover
    &:focus
      svg
        fill $font_color_darker

    &:active
      svg
        transform translateY(1px)
*/
