/**
 * Post formats
 */
.format
  &-status
    .entry-content
      big()

  &-video
    .entry-content
      iframe
      embed
        margin-right auto
        margin-left auto
        width 100%

  &-image
    .entry-content
      figure
        margin-right auto
        margin-left auto
        width 100% !important

      img
        margin-right auto
        margin-left auto
        width 100%
        height auto
        transition()

      a
        &:hover
          img
            opacity .75

.gallery
  grid row wrap

  .entry-content &
    figure
      margin-right 4%
      margin-bottom $space_sm
      width 22%

      &:nth-child(4n + 4)
        margin-right 0

      figcaption
        display none

  img
    width 100%
    height auto

.twitter-tweet
  margin 0 auto
  width 100%

.embed-youtube
  borders()
