/**
 * Global Setup
 */
:root
  overflow-y scroll
  font-weight inherit
  font-size $font_size_root
  font-family inherit

body
  border_box()
  grid column
  overflow hidden
  min-width $body_width_min
  min-height 100vh
  border 0
  background-color $color_primary
  color $font_color
  font-weight $font_weight
  font-size-adjust inherit
  font-size $font_size
  font-family $font_primary
  line-height $line_height
  cursor default

  text-rendering optimizeLegibility
  -webkit-font-smoothing antialiased
  -moz-osx-font-smoothing grayscale

main
  transition()
  fluid_type $font_size_min $font_size_max
  flex 1

  > *
    &:last-child
      margin-bottom 0

{$container_class}
  relative()
  flex 1
  margin-right $space_lg
  margin-left @margin-right
  min-width $container_width_min
  max-width $container_width_max

  +above($body_width_max)
    margin-right auto
    margin-left auto
