/**
 * Main header
 */
.header-main
  margin-bottom $space
  background-color $color_primary

  {$container_class}
    grid column

    +above($break_search_down)
      grid row justify

  h1
    margin $space_xsm auto
    size $logo_width auto

    +above($break_search_down)
      margin-right $space

    a
      block()
      border_box()
      hide_text()
      size 100%
      background-image url('../images/logo.png')
      background-position left center
      background-size 100%
      background-repeat no-repeat

      &:hover
      &:focus
        opacity .8

      &:active
        transform translateY(1px)


/**
 * Header Navigation
 */
.navbar-main
  flex 1
  grid right


/**
 * Header Search
 */
.script-search
  border_box()
  relative()
  transition()
  margin 0
  padding-bottom 0
  height $header_height - ($space_xsm * 2)
  background-color transparent

  +above($break_search_down)
    top 0
    right 0
    display block
    margin $space_xsm 0

  &-field
    input[type='search']&
      height 100%

    +above($break_search_down)
      rounded()

  &-submit
    absolute()
    size $icon_size
    top 50%
    right $space_sm
    margin-top -($icon_size / 2)
    padding 0
    border 0
    background-color transparent
    box-shadow none
    line-height $icon_size
    opacity .5
