/**
 * Sidebar
 */
.sidebar
  margin-right ($sidebar_width + $space) * -1
  margin-left $space
  width $sidebar_width
  font-size $font_size_sidebar
  border_box()
  transition()

  +above($break_sidebar)
    margin-right 0

  section
    margin-bottom $space
    padding $space_sm
    overflow-wrap break-word
    word-wrap break-word
    word-break break-word
    borders()

  h1
  h3
    margin ($space_sm * -1) ($space_sm * -1) $space_sm
    padding $space_sm
    background-color $border_color
    color $subheading-color
    font-size $heading_size_h5
    heading-section()

  ul
    margin-bottom 0
    padding-left 0
    list-style-type none

  li
    margin-bottom $space_sm

  a
    link($font_color_dark)

  form
    margin-top 0

  .widget_search
    padding 0
    border 0

  &-twitter
  &-facebook
    section&
      padding 0

      h1
        margin 0
