/**
 * Post summary
 */
.entry
  &-list
    +above($break_summary)
      grid(wrap)

.summary
  padding $space 0
  grid(column)
  group()

  +above($break_summary)
    margin-right 6%
    width 47%

    &:nth-child(2n + 2)
      margin-right 0

  +above($break_sidebar)
    margin-right 0
    width 100%

  +above($break_summary_md)
    margin-right 6%
    width 47%

    &:nth-child(2n + 2)
      margin-right 0

  +above($break_summary_lg)
    margin-right 5%
    width 30%

    &:nth-child(2n + 2)
      margin-right 5%

    &:nth-child(3n + 3)
      margin-right 0

  header
    margin-bottom $space_sm

  h1
    margin-top 0
    margin-bottom $space_xsm
    font-weight $subheading_weight
    font-size $heading_size_h3

    a
      color $subheading-color

      &:active
        color $color_primary

  &:hover
  &:focus
    h1
      a
        color desaturate($color_primary, 50%)

  &-thumbnail
    overflow hidden
    margin-right $space
    margin-bottom $space_sm
    size(100% auto)

  img
    size(100% auto)

  &-body
    flex 1

    p
      margin-bottom $space_sm

  &-meta
    margin-bottom $space_sm
    color $font_color_darker
    bold()
    small()
    uppercase()

  &-content
    margin-top $space_sm
