/**
 * Credits
 */
.credits
  align center
  grid column

  +above($break_footer)
    grid row justify middle

  &-logo
  &-legal
  &-signature
    margin-right auto
    margin-left auto

  &-logo
  &-legal
    margin-bottom $space

    +above($break_footer)
      margin-bottom 0

  &-logo
    size 10em 2.5em

  &-legal
    small()
    flex 1

    +above($break_footer)
      margin-right $space
      margin-left @margin-right

    p
      margin-top 0
      margin-bottom $space_xsm

      &:last-of-type
        margin-bottom 0

      +above($break_footer)
        align left

  &-signature
    transition()
    size 10em 2.5em

  a
  svg
    size 100%

  a
    block()

    &:active
      click_down()

  svg
    fill $font_color
