/**
 * Icon sprites
 */
svg.icon
  transition()
  size $icon_size
  fill $grey_lightest
  overflow hidden
  vertical-align initial
  line-height $icon_size
  opacity .75

  &:hover
  &:focus
    opacity 1

    &.icon
      &-twitter
        fill $color_twitter

      &-facebook
        fill $color_facebook

      &-google
        fill $color_google

      &-pinterest
        fill $color_pinterest

      &-linkedin
        fill $color_linkedin

      &-whatsapp
        fill $color_whatsapp

  a &
    &:hover
    &:focus
      opacity 1

    &:active
      transform translateY(1px)
