/**
 * Images
 */
img
  border 0

svg:not(:root)
  overflow hidden

figure
  margin 1em 40px

figure
  overflow hidden
  margin 0
  border 0
  background-color $bg_color_light
  transition()

  img
    display block
    borders()
    transition()

  a
    display block

    &:hover
    &:focus

      img
        filter grayscale(50%)
        borders($border_color-hover)

figcaption
  padding $space_xsm $space_sm
  small()

img
  max-width 100%


/**
 * Video
 */
.entry-video
  overflow hidden
  padding-bottom 56.25%
  max-width 100%
  height 0
  height auto
  relative()

  iframe
  object
  embed
    top 0
    right 0
    left 0
    size(100%)
    absolute()
