/**
 * Main Menu
 */
#header-menu
  margin-right $space_xsm

  +above($break_menu)
    flex 1

  nav
    absolute()
    hide()
    transition()
    uppercase()
    top $header_height_sm
    right 0
    left 0
    z-index 2000
    overflow-y auto
    height 100vh
    white-space nowrap
    font-weight 700
    font-family $font_secondary

    +above($break_menu)
      block()
      static()
      top 0
      z-index auto
      flex 1
      overflow visible
      height $header_height

      /{$shrink_class} &
        height $header_height_sm

  ul
    borders bottom $border_width_xlg $color_primary_darker
    margin 0
    width 100%
    background-color $color_secondary

    +above($break_menu)
      list inline
      width auto
      border 0
      background-color transparent

    ul
      absolute()
      hide()
      align left
      borders $border_width $color_secondary_lighter
      top 100%
      left 0
      width auto
      background-color $color_secondary

      li
        width 100%

      a
        line-height $header_height_sm

      ul
        top 0
        right 100%

        ul
          top 100%
          right 0

  li
    relative()
    transition()
    margin 0

    &:focus
    &:hover
      background-color $color_primary

    +above($break_menu)
      &:focus
      &:hover
        > ul
          block()

  a
    fluid_type $font_size_min $font_size_max
    link $white
    padding-right $space_sm
    padding-left @padding-right
    line-height $header_height_sm

    +above($break_menu)
      line-height $header_height

    /{$shrink_class} &
      font-size $font_size
      line-height $header_height_sm
