/**
 * Post Meta
 */
.meta
  uppercase()
  fluid_type $font_size_xsm $font_size_sm
  grid column
  color $font_color_darkest
  font-weight 700
  font-family $font_secondary

  +above($break_content_xsm)
    grid row

  div
    block()
    margin-bottom $space_xsm

    +above($break_content_xsm)
      margin-right $space_xsm
      margin-bottom 0

      &:after
        margin-left $space_xsm
        content '/'

    &:last-child
      margin-bottom 0

      +above($break_content_xsm)
        margin-right 0

        &:after
          margin-left 0
          content ''

  a
    link $font_color_dark

  time
    color $font_color_dark

  {$summary_class} &
    margin-top $space_xsm
    color $font_color_dark
    font-size $font_size_xsm

    time
      color $font_color_darkest

  {$comments_class} &
    color $font_color_darkest
