/**
 * Pagination
 */
.pagination
  margin $space 0
  line-height $icon_size
  align(center)
  grid()
  uppercase()

.posts
  &-prev
  &-next
    width 100%
    height $icon_size
    color $color_primary
    font-size $font_size_sm

    a
      display block

  &-prev
    align(left)
    grid(left)

    a
      padding-right $space_sm

  &-next
    align(right)
    grid(right)

    a
      padding-left $space_sm

    .posts-prev ~ &
      borders(left)

.post
  &-nav
    font-size $font_size_sm
    line-height $icon_size
    grid(justify)
    uppercase()

  &-page
    line-height $icon_size
    align(center)
    bold()
    border_box()
    borders(left)
    size($icon_size * 2 $icon_size)

    a
      display block
      regular()

    &:last-child
      borders(right)

    &-numbers
      grid()

    &-prev
    &-next
      flex 1
      color $color_primary

      a
        display block

        &:before
        &:after
          opacity .25

    &-prev
      align(left)
      grid(left)

      a
        padding-right $space_sm

    &-next
      align(right)
      grid(right)

      a
        padding-left $space_sm

.page-nav
  padding $space_sm 0

  p
    grid middle

  a
    block()
    borders()
    rounded()
    small()
    transition()
    padding $space_sm $space

    &:hover
      background-color $bg_color + 3.125%
