/**
 * Search Form
 */
.search
  &-form
    relative()
    size 100% auto
    margin 0 auto $space_lg

    /{$header_search_class} &
      absolute()
      content_box()
      hide()
      transition()
      top 0
      right 0
      left 0
      margin-bottom 0
      height $header_height_sm

      +above($break_search_down)
        right ($icon_size * 4) + ($space_xsm * 4)
        width auto
        border 0

        /{$shrink_class} &
          top 0
          right 0

      +above($break_header)
        padding-top (($header_height - @height) / 2)
        padding-bottom @padding-top

      /{$shrink_class} &
        top 0
        padding-top 0
        padding-bottom @padding-top

        +above($break_search_down)
          top 0
          right 0

  &-field
    margin-bottom 0

    input[type='search']&
      height $input_height_lg

    /{$header_search_class} &
      rounded 0
      padding-right $icon_size + $space_sm
      padding-left $space_sm
      height $header_height_sm !important
      border 0
      background-color $color_secondary_lighter
      color $font_color_dark

      &:focus
      &:active
        background-color lighten(@background-color, 3)

      +above($break_header)
        rounded()

      /{$shrink_class} &
        rounded 0

  &-submit
    absolute()
    size $icon_size
    top 50%
    right $space_sm
    margin-top (-($icon_size / 2))
    padding 0
    background-color transparent
    line-height $icon_size
    opacity .5

    &:focus
    &:hover
      background-color @background-color
      opacity 1

    svg
      fill $grey_lightest

    /{$container_class} &
      .icon-close
        hide()

    /{$header_class} &
      .icon-search
        hide()
