/**
 * Social links
 */
.social
  &-links
    grid()

    ul
      padding-left 0
      list-style none
      grid()

    li
      a
        display block
        size($icon_size)

        &:hover
        &:focus
          border 0

  &-links
    li
      margin 0 $space 0 0

    svg
      fill $font_color_darkest


/**
 * Social sharing links
 */
.entry
  &-social
    padding $space_xsm 0
    line-height ($icon_size * .8)
    borders(bottom)
    grid(justify)

  &-share
    grid(right)

    ul
      margin-bottom 0
      padding-left 0
      list-style none
      grid(right)

    li
      margin-bottom 0
      margin-left $space_sm

    a
    svg
      size($icon_size * .8)

    a
      display block

    svg
      fill $font_color_darkest

.social-title
  color $color_primary
  font-size $font_size_sm
  font-family $font_heading
  bold()
  uppercase()

  a
    link($color_primary)

  .entry-share &
    display none

    +above($break_summary)
      display block
