/**
 * Tabs
 */
#languages
#methods
#countries
#categories
#processes
  margin-bottom $space_xsm

#script
  margin $space_sm 0

  h2
    margin-bottom $space_sm

  p
    margin $space_sm 0

    &:first-child
      margin-top 0

    &:last-child
      margin-bottom 0

.script
  &-help
  &-text
    display block
    margin-bottom $space_sm
    padding $space_sm
    borders()

  &-help
    background-color $color_primary_dark

  &-text
    background-color $white
    color $black

  &-textarea
    margin 0
    padding 0
    min-height 1px !important
    border 0
    line-height 0
    opacity 0

  &-copy
    shadow()
    btn primary
    background-color $color_primary_light

.script
  &-title
    cursor pointer
    transition()

    &:hover
      color $font_color_light

    &:after
      color $color_primary_lighter
      content ' +'

    &.active
      &:after
        color $font_color_light
        content ''

  &-body
    display none

  &-new
    &:before
      rounded()
      smaller()
      uppercase()
      margin-right $space_xsm
      padding 0 $space_xsm
      background-color $color_error
      color $white
      content 'new'

  &-updated
    &:before
      rounded()
      smaller()
      uppercase()
      margin-right $space_xsm
      padding 0 $space_xsm
      background-color $color_success
      color $white
      content 'updated'


/** Sidebars */
#faq
#clipboard
  border_box()
  fixed()
  transition()
  top 0
  bottom 0
  z-index 9999
  overflow-y auto
  padding $space_sm
  width $sidebar_width
  height 100vh
  background-color $color_secondary

#faq
  left -($sidebar_width + $space_lg)

  h3
    h4()
    transition()
    margin-bottom 0
    line-height 2
    cursor pointer

    &.active
    &:hover
    &:focus
    &:active
      color $white

  &.opened
    left 0

  .faq-body
    display none

    p
      margin $space_xsm 0 $space

#clipboard
  right -($sidebar_width + $space_lg)

  h2
    align right

  textarea
    background $white
    color $black

  &.opened
    right 0


/** Close Sidebar Buttons */
.button
  &-close
    absolute()
    block()
    bold()
    border_box()
    transition()
    uppercase()
    align center
    rounded 50%
    size 1rem

    top $space_sm
    padding 0
    border 0
    background-color transparent
    cursor pointer

    &:before
      transition()
      align center
      size 100%
      display block
      color $white
      content '\D7'
      font-size $font_size_xxlg
      line-height 1rem

    #faq &
      right $space_sm
      left auto

    #clipboard &
      right auto
      left $space_sm

    &:hover
    &:focus
    &:active
      border 0
      background-color transparent

      &:before
        color $white


/** Sidebar Buttons */
.open
  &-faq
  &-clipboard
    fixed()
    block()
    align center
    rounded 50%

    top 50%
    padding 0
    width 2rem
    height 2rem
    border 0
    background-color $color_secondary
    font-size 2rem
    line-height 2rem
    cursor pointer

    &:before
      transition()
      color $bg_color
      content '+'

    &:hover
    &:focus
    &:active
      border 0
      background-color $color_secondary_dark

      &:before
        color $white

  &-faq
    rounded 0 50% 50% 0
    left 0

  &-clipboard
    rounded 50% 0 0 50%
    right 0


/** Message */
#message
  fixed()
  align center
  top 0
  right 0
  left 0
  display none
  padding $space_sm
  background-color rgba($color_warning, 90%)
  color $black


/** Modals */
.modal
  padding $space_sm
  background-color $color_primary

  h2
    margin-bottom $space_sm

  .script
    &-help
    &-text
      p
        margin $space_sm 0

        &:first-child
          margin-top 0

        &:last-child
          margin-bottom 0


/** Search Box */
.script-search
  width 100%

  &-field
    &[disabled]
      opacity .3


/** Boxes */
#boxes
  grid row wrap
  margin-right (-($space_sm / 2))
  margin-left @margin-right

.box
  border_box()
  rounded()
  borders $border_width_lg $bg_color_dark
  margin 0 ($space_sm / 2) $space_sm
  width 100%
  background-color $bg_color_dark

  +above($break_summary)
    width 'calc(50% - %s)' % $space_sm

  +above($break_summary_md)
    width 'calc(33.3333% - %s)' % $space_sm

  &-search
    width 100%

  h4
    uppercase()
    margin-bottom 0
    padding $space_xsm $space_sm

  ul
    overflow-y scroll
    margin 0
    width 100%
    height 8rem
    background-color $bg_color_light

  li
    padding $space_xsm $space_sm 0
    line-height 1.2

  a
    link $font_color

    &:hover
      text-decoration underline
