/**
 * Toggle buttons for responsive display
 */
.toggle-checkbox
  display none

input[type='checkbox'] + label
  &.toggle
    &-label
      display block
      cursor pointer
      size($icon_size)
      transition()

      .header-main &
        margin (($header_height - $icon_size) * .5) 0 (($header_height - $icon_size) * .5) $space_sm

    &-menu
      +above($break_menu)
        display none
        width 0

    &-search
      .icon-close
        display none

    &-sidebar
      top 50%
      right 0
      margin-top (($icon_size * .5) * -1)
      margin-left 0
      fixed()

      +above($break_sidebar)
        display none
        width 0

#toggle
  &-menu:checked ~ nav
    display block
    width 100%
    height 100vh
    opacity 1

    +above($break_menu)
      width auto

  &-search:checked ~ label
    .icon-search
      display none

    .icon-close
      display block

  &-search:checked ~ form
    display block

  &-sidebar:checked ~
    & .sidebar
      margin-right 0
      width $sidebar_width

    & .main
      margin-left $sidebar_width * -1
      opacity .25

      +above($break_sidebar)
        margin-left 0
        opacity 1

    & label
      right $sidebar_width + $icon_size
