/**
 * Typography
 */

/** Headings */
h1
  h1()

h2
  h2()

h3
  h3()

h4
  h4()

h5
  h5()

h6
  h6()

/** Paragraphs */
p
  p()

/** Links */
a
  link()

/** Inline Elements */
mark
  padding $space_xsm
  background $color_warning
  color inherit

s
strike
del
  strike()
  color $font_color_darker
  opacity .75

u
  underline()
  color $font_color_light

small
  small()

big
  big()

b
strong
  strong()

i
em
  italic()

sup
sub
  small()

sup
sub
  relative()
  vertical-align middle
  line-height 0

sup
  top (-($space_xsm))

sub
  bottom (-($space_xsm))

var
  italic()
  color $font_color_dark

dfn
  italic()

abbr[title]
acronym
  borders bottom $border_width_lg dotted
  cursor help

/** Blockquotes & Quotes */
blockquote
  blockquote()

cite
  block()
  italic()
  color $font_color_dark

q
  q()

/** Address */
address
  normal()
  borders left $border_width_lg
  margin-bottom $space_lg
  padding-left $space_sm

/** Lists */
ul
  list()

  ul
    list circle
    margin-bottom 0

ol
  list decimal

  ol
    list lower-roman
    margin-bottom 0

dl
  margin 0 0 $space
  width 100%

dd
dt
  &:not(:last-of-type)
    margin-bottom $space_xsm

dd
  margin-left 25%

dt
  bold()
  float left
  clear left
  width 20%

/** Code */
pre
code
kbd
samp
.code
  rounded()
  color $font_color
  font-size $font_size_sm
  font-family $font_monospace
  line-height $line_height

pre
  borders $color_primary_dark
  overflow auto
  margin-bottom $space_lg
  padding $space_sm $space
  background-color $bg_color_dark

  code
    padding 0
    background-color transparent
    vertical-align inherit
    white-space pre
    font-size inherit

code
kbd
samp
  inline_block()
  borders $color_primary_dark
  padding $space_xsm
  vertical-align middle
  white-space nowrap

code
samp
  background-color $bg_color_dark

kbd
  shadow()
  background-color $bg_color_light
  white-space nowrap

/** Dividers */
hr
  overflow visible
  margin $space 0
  height 1px
  border 0
  background-color $border_color

/** Define Fonts */
font('Spiral Icons', 'spiral-icons', 400, normal)

/** Icon Font Classes */
.icon
  &-close
    &:before
      content '\0078'

  &-fullscreen
    &:before
      content '\0066'

  &-fullsize
    &:before
      content '\0061'

  &-share
    &:before
      content '\0073'

  &-zoomout
    &:before
      content '\002d'

  &-zoomin
    &:before
      content '\002b'

  &-prev
    &:before
      content '\003c'

  &-next
    &:before
      content '\003e'
