/**
 * WordPress classes
 */
.alignnone
  margin-right 0
  margin-left 0
  max-width 100%
  height auto

.aligncenter
  display block
  margin $space auto
  height auto

.alignleft
.alignright
  margin-bottom $space
  height auto

.alignleft
  float left
  margin-right $space

.alignright
  float right
  margin-left $space

.wp-caption
  margin-bottom $space
  max-width 100%

  img[class*='wp-image-']
    display block
    margin 0

.wp-caption-text
  padding $space_sm

.screen-reader-text
  display none
  word-wrap normal
